#headerContainer {
	position: relative;
	padding-top: 25px;
}

#menu{
	clear: both;
	padding: 3px;
}
#menu li{
	float:left;
	margin-right:20px;
}
#menu li a,
#userMenuIn li a,
#userMenu li a {
	padding: 3px 5px;
	background: #004c98;
}

#menu li a:hover,
#userMenuIn li a:hover,
#userMenu li a:hover {
	text-decoration: none;
	background: #003c77;
}

#home {
	position: relative;
	top: -30px;
}

#menu li, #home:hover {
	background: none;
}

#userMenu, #userMenuIn{
	position: absolute;
	right: 10px;
	top: 10px;
}

#userMenu, #userMenuIn,#sign-in {
	margin-right: 30px;
}