html, body {
	background-color: #004c98;
	color: #FFFFFF;
}

a {
	color: #ff6dff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.a1 {
	font-size: 138%;
	font-weight: bold;
	color: #FFFFFF;
}

.a2 {
	font-size: 108%;
	font-weight: bold;
	color: #FFFFFF;
}

.a3 {
	color: #FFFFFF;
}

.a1:hover, .a2:hover, .a3:hover { text-decoration: none; }

.seo { display: none; }

.clearfix {zoom:1;}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.horizontal-nav {
	margin: 0 auto;
	padding: 0;
}

.horizontal-nav li {
	float: left;
	margin: 0 5px;
	padding: 0;
	list-style: none;
}

.horizontal-nav li a {
	display: block;
}

#notices {
	clear: both;
	font-weight: bold;
	color: #FF6DFF;
}

#errorDiv {
	clear: both;
}

#uploader{
	background-color:#FFFFFF;
	width:700px;
}

.submit {
	float: right;
	margin-right: 15px;
}

.labelsInputs {
	list-style: none;
	text-align: left;
	margin-left: 10px;
	padding-left: 0px;
}

.labelsInputs li {
	padding: 4px;
	margin: 5 0 5 0px;
}

.labelsInputs input {
	clear: both;
	float: right;
}